Flask==0.10.1
Flask-Script==2.0.5
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
numpy==1.9.1
pandas==0.15.2
python-dateutil==1.5
pytz==2014.9
scipy==0.15.1
six==1.9.0
SQLAlchemy==0.9.8
Werkzeug==0.9.6
