<!DOCTYPE html>
<html>
<head>
	<title>Scott's Place</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/stock/highstock.js"></script>
	<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
</head>
<body>
    <p>Hello visitor. Let's make a graph!</p>
    <p id='button'>BUTTON</p>
    <div id='chartDiv' style="height: 400px; min-width: 310px"></div>

    <script>

    var request = {
			   ticker: ['GOOG/NYSE_DAC', 'GOOG/NASDAQ_AAPL'] 
		        };

    //var request_json = JSON.stringify(request) // don't need to convert to json if making a GET request

    $('#button').on('click', function(){
    	console.log('pulling some awesome data');
		$.ajax({
		    type: 'GET',
	  	    url: "{{ url_for('index_bp.api') }}",
		    data: request,
		    dataType: 'json',
		    traditional: true,
		    success: function(data){
		    	$('#chartDiv').highcharts('StockChart', {
		    		rangeSelector : {
		                selected : 2
		            },
		    		title: {
		    			text: "Some Stock Data"
		    		},
		    		plotOptions: {
		    			series: {
		    				compare: "percent"
		    			}
		    		},
		    		series: data,
		    	})
		    }
		});	
	});
    </script>
</body>
</html>
